@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Libre+Baskerville:wght@700&family=Merienda&family=Montserrat:ital,wght@0,800;1,700&family=Playfair+Display+SC:ital@1&display=swap');

body {
    margin: 0;
    padding: 0;
}

/* left container */
.left-container {
    font-size: 8px;
    position: fixed;
    width: 400px;
    height: 200vh;
    background-image: url(123.jpg);
}

.photo-contact {
    position: absolute;
    top: 100px;
    text-align: center;
}

.photo {
    width: 50%;
    border-radius: 50%;
    border: 4px solid white;

}

.contact-btn {
    width: 50%;
    background-color: gray;
    border-radius: 13px;
    margin-bottom: 12px;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

.contact-btn:hover {
    background-color: black;
    color: red;
    transition: 1s;
}


/* right container navbar */
.right-container {
    position: absolute;
    left: 400px;
    right: 0px;
    background-image: url('123.jpg');
}

.navbar {
    position: fixed;
}

.navbar h1 {
    display: inline-block;
    font-size: 20px;
    padding: 16px 20px;
    font-style: italic;
    border-bottom: 1px solid red;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    float: left;

}

span {
    color: red;
}

.navbar ul {
    float: right;
    font: bold;
    font-size: 1.1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar ul li {
    padding: 24px;
    display: inline-block;
}

.navbar ul a {
    color: white;

}

.navbar ul a:hover {
    color: red;
    transition: 0.5s;
}

a {
    text-decoration: none;

}

.mobile-menu {
    float: right;
    display: none;
    padding: 18px;

}

.mobile-menu:hover {
    cursor: pointer;
}

#check {
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -400px;
    width: 400px;
    background-color: rgba(16, 47, 80, .9);
    transition: 2s;
}

.sidebar ul li a {
    color: white;
}

.sidebar ul li {
    padding: 24px;
    transition: .3s;
    transition-property: background-color;
}

.sidebar ul li:hover {
    background-color: red;
}

#check:checked~.sidebar {
    left: 0;
}

@media (max-width: 1000px) {
    .top-bar .mobile-menu {
        display: block;
    }

    .top-bar ul a {
        display: none;
    }
}

/* right container home */
.text-1 {
    font-size: 20px;
}

.text-2 {
    font-size: 30px;
    font-weight: 600;
    margin-left: -3px;
    animation: text_reveal 1s ease forwards;
    animation-delay: 1.5s;
    color: transparent;

}

.text-3 {
    font-size: 20px;
    margin: 5px 0;
}

#home {
    padding-top: 100px;
    padding-left: 100px;
    color: white;
    width: 50%;

}

.home-text {
    font-family: 'Playfair Display SC', serif;
}


/* right container about */
#about {
    padding-top: 14rem;
    color: white;
    text-align: center;
}

.about .title {
    text-align: center;
}

.about .about-content .left img {
    height: 200px;
    width: 300px;
    border-radius: 6px;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 18px;
    font-weight: 600;
}


.about .about-content .right p {
    text-align: justify;
    font-family: 'Playfair Display SC', serif;
    font-size: 12px;

}

/* right container gallery */
#gallery {
    padding-top: 3rem;

}

.gallery h2 {
    color: aqua;
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
}

.gallery .carousel .card {
    background: #222;
    border-radius: 6px;
    padding: 20px 30px;
    text-align: center;
    transition: all 0.3s ease;

}

.gallery .carousel .card:hover {
    background: crimson;
}

.gallery .carousel .card .box {
    transition: all 0.3s ease;
}

.gallery .carousel .card:hover .box {
    transform: scale(1.05);
}


.gallery .carousel .card img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 20%;
    border: 5px solid crimson;
    transition: all 0.3s ease;
}


/* right container contact */
#contact {
    padding-top: 5rem;
    color: white;
}

.contact {
    background-color: #101010;
}

.contact-text h2 {
    color: aqua;
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
}

.contact .contact-info {
    display: flex;

}

.contact-info .cont {
    padding: 50px;
    text-align: center;
}

.contact-info h4 {
    color: red;
}


/* right container footer */
footer {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1) {
    font-style: italic;
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2) {
    bottom: 50px;
    font-size: 14px;
    width: 500px;
    color: #fcfc;
    text-align: center;
    line-height: 26px;
}

.sosial {
    display: flex;
}

.sosial a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    border: 2px solid white;
}

.sosial a:hover {
    transform: scale(1.3);
    transition: 0.5s;
    background: transparent;
    border: 2px solid red;
}

.end {
    position: absolute;
    color: white;
    bottom: 50px;
    font-size: 14px;
    font-style: italic;
}

@keyframes text_reveal {
    100% {
        color: rgb(61, 11, 11);
    }
}